div{
	position:relative;
}

body{
	background-color:green;
}

.card, img{
	margin: 0;
	padding: 0;
	display:block;
}

.topdiv{
	position:absolute;
}
.columntop{
	height: 96px;
	width: 71px;
	position: absolute;
	border: 1px solid black;
}

.exposedcard{
	height:96px;
	left:0;
	top:0;
}

.tint {
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255, 0.5);
	transition: all .3s linear;
}

.highlighted{
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	background: rgba(255,255,255, 0.5);
}

#instructions{
	border: 1px solid black;
	float: right;
}